* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(238, 236, 236);
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    background-color: rgb(236, 236, 236);
    color: black;
    /* margin-right: 8%; */
    position: fixed;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.img {
    width: 5%;
    height: 5%;

}

.nav-links a {
    color: black
}

a {
    color: black;
}

.logo {
    font-size: 22px;
    margin-right: 48rem;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.menu {
    display: flex;
    gap: 7rem;
    font-size: 1rem;
}

.header {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding-top: 100px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.lab {
    margin: 1% 40%;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 20%;
}

.btn {
    background-color: rgb(250, 213, 4);
    margin: 0 auto;
    border: 2px solid rgb(250, 213, 4);
    margin-left: 45%;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 10%;

}

.btn:hover {
    background-color: orange;
    border-radius: 5px;
    border: 2px solid orange;
    transition: 3s ease;
    cursor: pointer;
}

.img-1 {
    width: 50px;
    height: 50px;
}

.container {
    display: flex;
}

.text-1 {
    margin-left: 10%;
    padding-bottom: 5%;
}

.icon {
    margin-left: 10%;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin: 5% 10%;
    text-align: center;

}

.first {
    border: 1px solid black;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: larges;
    text-align: center;
    text-justify: distribute-all-lines;
}

h3 {
    background-color: rgb(219, 219, 219);
    height: 50px;
    padding-top: 1rem;

}

h2 {
    padding-top: 1rem;
}

p {
    padding-top: 0.001rem;
    padding-bottom: 1rem;
}

.frame {
    display: block;
    margin: auto;
}

.btn-1 {
    background-color: rgb(250, 213, 4);
    margin: 0 auto;
    border: 2px solid rgb(250, 213, 4);
    /* margin-left: 45%; */
    padding: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
    padding: 10px 10px 10px 10px;
    font-size: larger;




}

.btn-1:hover {
    background-color: orange;
    border-radius: 5px;
    border: 2px solid orange;
    transition: 3s ease;
    cursor: pointer;
}

.menu-1 {
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: end;
    gap: 7rem;
    font-size: 1rem;
   justify-items: end;
    width: 60%;
    margin-left: 35%;
}
.footer{
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: end;
   color: rgb(129, 128, 128);
    margin-right: 8%;
   justify-items: end;
    width: 60%;
    margin-left: 35%;
}